form {
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

input,
select {
    padding: 0.5rem;
    width: 50%;
    border: none;
    border-bottom: 5px solid var(--border-color);
}

button {
    width: 50%;
}

.vue-dropzone {
    width: 50%;
}

.floating-action-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border-radius: 2rem;
    background-color: var(--border-color);
    width: 60px;
    height: 50px;
    text-align: center;
    padding-top: 1rem;
    color: white;
}
