.files {
    display: grid;
    padding: 2rem;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.file {
    border: 1px solid var(--border-color);
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.add-new{
    text-align: center;
    padding: 2rem;
}