.files {
    display: grid;
    padding: 0.63rem;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.file {
    border: 1px solid var(--border-color);
    min-height: 5rem;
    max-height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
}

.add-new {
    padding: 2rem;
    text-align: center;
}

.main {
    display: flex;
}

.not-added-yet {
    padding: 1rem;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .files {
        grid-template-columns: repeat(1, 1fr);
    }
    button {
        width: 100%;
    }
}
