@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kulim Park', sans-serif;
    --primary-color: #3f51b5;
}

nav {
    background-color: var(--primary-color);
    min-height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--primary-color);
}

nav h1 {
    color: white;
    font-size: 2rem;
}

.files {
    display: grid;
    padding: 2rem;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.file {
    border: 1px solid black;
}
